{{ define "home" }}
{{ template "head" }}

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 1 </td>
      <td> Fede R </td>
      <td> joelrormoser@gmail.com </td>
      <td> Editar | Borrar </td>
    </table> 
    
{{ template "footer" }}
{{end}}



