{{ define "home" }}
{{ template "head" }}

    <a name="" id="" class="btn btn-primary" href="add" role="button">Agregar empleado</a>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      
      <tbody>
    {{ range. }}
        <tr>

          <td> {{.Id}} </td>
          <td> Fede R {{.Nombre}} </td>
          <td> joelrormoser@gmail.com {{.Correo}} </td>
          <td> Editar | Borrar {{.Id}} </td>
        <tr>

    {{end}}
      </tbody>
    </table> 
    
{{ template "footer" }}
{{end}}



